.display{
    color: white;
    /* padding-right: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 15px!important; */
    height: 5rem;
    padding: 30px;
}
.result{
    display: flex;
    font-size: 15px;
    flex-direction: row;
    flex: 1;
    /* padding: 10px; */
}
.calculate{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 25px;
}
.caculate h3{
    padding-bottom: 15px;
}